@charset "utf-8";
@import "reset";
@import "common";
.bc_head{
  height:40px;
  line-height:40px;
  @extend %posr;
  .back{
    @extend %posa;
    left:10px;
    top:0;
  }
  h1{
    @extend %center;
    font-size:16px;
  }
}
.bc_content{
  @extend %flex;
  background: url("../img/b1.png")no-repeat;
  background-size: 100% 100%;
  .bc_box {
    @extend %posr;
    width: 68.75%;
    margin: 0 auto;
    margin-top: 83px;
    h2{
      color: $fontcolor;
      @extend %center;
    }
    .bc_list{
      font-size: 0;
      li{
        margin-top:17px;
        .firstsp{
          display: inline-block;
          width:12px;
          height:12px;
          border: 1px solid #000;
        }
        .lastsp{
          margin-left:16px;
        }
        @extend %center;
        font-size: 14px;
        display: inline-block;
        width:50%;
      }
    }
  }
  .bc_btn{
    @include btn;
  }
}

.dialog{
  @extend %posa;
  top:83px;
  left:50%;
  margin-left: -42.5%;
  width:85%;
  height:312.5px;
  background: url("../img/tk3.png")no-repeat;
  background-size: 100% 100%;
  .d_remove{
    @extend %posa;
    right:15px;
    top:0;
    width:27px;
    height:30px;
    background: url("../img/tk2.png")no-repeat;
    background-size: 100%;
  }
  .d_title{
    width:103px;
    height:103px;
    display: block;
    margin: 0 auto;
    margin-top:33px;
  }
  .d_info{
    padding: 15px;
  }
  .d_btn{
    @include btn(265px,-54px);
  }
}

.bg{
  background: #F6514B;
}