@charset "utf-8";
@import "reset";
@import "common";
.d_head{
  height:40px;
  line-height:40px;
  @extend %posr;
  .back{
    @extend %posa;
    left:10px;
    top:0;
  }
  h1{
    @extend %center;
    font-size:16px;
  }
}
.d_content{
  @extend %posr;
  @extend %flex;
  background: url("../img/a1.png")no-repeat;
  background-size: 100% 100%;
  .d_btn{
    @include btn(350px,-40px)
  }
  .d_info{
    @extend %posa;
    bottom:5px;
    left:0;
    font-size: 10px;
    letter-spacing: -1;
    /*-webkit-transform: scale(0.8);
    display: inline-block;*/
  }
}